<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superb.mapper.MessageMapper">

    <resultMap id="message" type="java.util.Map">
        <id column="message_id" property="messageId"/>
        <result column="message_title" property="messageTitle"/>
        <result column="message_text" property="messageText"/>
        <result column="that_id" property="thatId"/>
        <result column="this_id" property="thisId"/>
        <result column="essay_id" property="essayId"/>
        <result column="message_type" property="messageType"/>
        <result column="create_time" property="createTime"/>
        <result column="user_name" property="userName"/>
        <result column="essay_title" property="essayTitle"/>
    </resultMap>

    <select id="superbMessageById" resultMap="message" parameterType="java.lang.Long">
        select a.*,b.user_name,c.essay_title from message a INNER JOIN `user` b on a.that_id = b.user_id LEFT JOIN essay c on a.essay_id = c.essay_id where a.this_id = #{userId} and a.deleted = 0
    </select>
</mapper>
